<form nz-form [formGroup]="formc" *ngIf="modalVisible" id="frm_create_message" (ngSubmit)="save()">
    <nz-modal [nzVisible]="modalVisible" [nzTitle]="'创建关键字回复'" [nzConfirmLoading]="loading" [nzContent]="modalContent" [nzFooter]="modalFooter"
        (nzOnCancel)="handleCancel($event)">
        <ng-template #modalContent>
            <fieldset>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="keyWord" nz-form-item-required>关键字</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getcFormControl('keyWord')">
                        <nz-input formControlName="keyWord" [(ngModel)]="messages.keyWord"  [nzId]="'tenancyName'"></nz-input>
                        <div nz-form-explain *ngIf="getcFormControl('keyWord').dirty&&getcFormControl('keyWord').hasError('maxlength')">字符长度小于等于50</div>
                        <div nz-form-explain *ngIf="getcFormControl('keyWord').dirty&&getcFormControl('keyWord').hasError('required')">关键字不能为空</div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="matchMode" nz-form-item-required>匹配模式</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getcFormControl('matchMode')">
                        <nz-radio-group formControlName="matchMode" [(ngModel)]="messages.matchMode" class="mb-md">
                            <label nz-radio [nzValue]="1">
                                <span>精准匹配</span>
                            </label>
                            <label nz-radio [nzValue]="2">
                                <span>模糊匹配</span>
                            </label>
                        </nz-radio-group>
                    </div>
                </div>
                <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSm]="4">
                            <label for="msgType" nz-form-item-required>消息类型</label>
                        </div>
                        <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getcFormControl('msgType')">
                            <nz-radio-group formControlName="msgType" [(ngModel)]="messages.msgType" class="mb-md">
                                <label nz-radio [nzValue]="1">
                                    <span>文字消息</span>
                                </label>
                                <label nz-radio [nzValue]="2">
                                    <span>图文消息</span>
                                </label>
                            </nz-radio-group>
                            <!-- <nz-dropdown *ngFor="let type of msyTypes">
                                <ul nz-menu >
                                        <li nz-menu-item>  {{type.text}}</li>
                                  </ul>
                            </nz-dropdown> -->
                        </div>
                    </div>
                <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="getcFormControl('content')">
                    <div nz-form-label nz-col [nzSm]="4">
                        <label for="content" nz-form-item-required>内容</label>
                    </div>
                    <nz-input nzType="textarea" nzRows="4" formControlName="content" [(ngModel)]="messages.content" [nzId]="'content'"></nz-input>
                    <div nz-form-explain *ngIf="getcFormControl('content').dirty&&getcFormControl('content').hasError('required')">内容不能为空</div>
                </div>
            </fieldset>
        </ng-template>
        <ng-template #modalFooter>
            <button nz-button [nzType]="'default'" [nzSize]="'large'" type="button" (click)="handleCancel($event)">
                {{l("取消")}}
            </button>
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit" [nzLoading]="isConfirmLoading">
                {{l("保存")}}
            </button>
        </ng-template>
    </nz-modal>
</form>