
@{
    ViewData["Title"] = "营销活动";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>营销活动</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
</head>
<body >
    <a class="large_btn ok mt15 border_radius" href="@Url.Action("ActivityForm")" style="text-align:center; line-height:32px;">参加活动申请</a>
    <script type="text/javascript" >
    </script>
</body>
</html>

