<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      用户绑定
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="userbind-content">
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="retailer">
        零售客户
      </ion-segment-button>
      <ion-segment-button value="marker">
        客户经理
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'retailer'">
      <ion-item>
        <ion-label fixed>姓名</ion-label>
        <ion-input type="text" [(ngModel)]="retailer.Name" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>专卖证号</ion-label>
        <ion-input type="text" [(ngModel)]="retailer.LicenseKey" value=""></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'marker'">
        <ion-item>
            <ion-label fixed>姓名</ion-label>
            <ion-input type="text" [(ngModel)]="employee.Name" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>员工编号</ion-label>
            <ion-input type="text" [(ngModel)]="employee.Code" value=""></ion-input>
          </ion-item>
    </ion-list>
    <div padding>
        <button ion-button color="primary" (click)="bind()" block>绑定</button>
      </div>
  </div>
</ion-content>