<pro-header></pro-header>
<nz-card [nzNoHovering]="true" [nzBordered]="false">
    <ng-template #body>
        <desc-list size="large" title="问卷调查详细信息" class="mb-lg">
            <desc-list-item term="问卷主题">{{question.name}}</desc-list-item>
            <desc-list-item term="客户姓名">{{question.userName}}</desc-list-item>
            <desc-list-item term="联系电话">{{question.phone}}</desc-list-item>
            <desc-list-item term="客户地址">{{question.address}}</desc-list-item>
            <desc-list-item term="提交时间">{{question.creationTime | _date}}</desc-list-item>
        </desc-list>
        <nz-divider class="mb-lg"></nz-divider>
        <div *ngFor="let q of questions">
            <div class="text-lg mb-md">{{q.no}}. {{q.text}}</div>
            <nz-checkbox-group [(ngModel)]="q.answers"></nz-checkbox-group>
            <nz-divider class="mb-lg"></nz-divider>
        </div>
    </ng-template>
</nz-card>